body {
    background-image: url("../images/background.png")
}

.jumbotron{
    background-color: #eeeeee !important;
    color: black;

}

#headerdiv {
    margin-bottom: 50px;
}

#about {
    position: relative;
    bottom: 30px;
    border-bottom: 3px solid black;
}

.about-text {
    font-size: 20px;
    color: #777777;
}

#portfolio {
    position: relative;
    bottom: 30px;
    border-bottom: 3px solid black;
}

#ph1, #ph2, #ph3, #ph4, #ph5 {
    position: relative;
    bottom: 70px;
    background-color: #4aaaa5;
    padding: 5px;
    width: 175px;
}

.PLlinks {
    color: #ffffff;
}

.PLlinks:hover {
    box-shadow: 0px 0px 10px 0px solid black;
}


#contact {
    position: relative;
    bottom: 30px;
    border-bottom: 3px solid black;
}

.contact-text {
    /* font-size: 10px; */
    color: #777777;
}

.messageCdiv {
    width: 73%;
}

@media screen and (max-width: 1200px) {
   .messageCdiv {
        width: 88%;
    }
}

@media screen and (max-width: 992px) {
    .messageCdiv {
        width: 100%;
     }

    #me {
       display: none;
    }

    #img2div, #img4div {
        margin-left: 50px;
    }
 }

 @media screen and (max-width: 768px) {
    #me {
        display: none;
    }

    #img2div, #img4div {
        margin-left: 0px;
    }
 }