/* body */

body {
    background-image: url("../images/background.png")
}

.contentDiv{
    background-color: #e9ecef;
    padding: 64px 32px 64px 32px;
    margin-bottom: 80px;
    border-radius: .3rem;
}


/* header */

#headerdiv {
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}


#nav-name {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
}


/* About Me Content */

#about {
    position: relative;
    bottom: 30px;
    border-bottom: 3px solid black;
}

.about-text {
    font-size: 20px;
    color: #777777;
}


/* Portfolio Content */

#portfolio {
    position: relative;
    bottom: 30px;
    border-bottom: 3px solid black;
}

#ph1, #ph2, #ph3, #ph4, #ph5 {
    position: relative;
    bottom: 70px;
    background-color: #4aaaa5;
    padding: 5px;
    width: 175px;
}

.PLlinks {
    color: #ffffff;
}

#p1-text {
    font-size: 25px;
    margin-bottom: 13px;
}

#p2-text {
    text-align: center;
    font-size: 22px;
    margin-bottom: 16px;
}


/* Contact Content */

#contact {
    position: relative;
    bottom: 30px;
    border-bottom: 3px solid black;
}

.contact-text {
    color: #777777;
}

#conJT {
    /* margin-bottom: 80px; */
    /* margin-right: 10px; */
}

.nameCdiv {
    margin-bottom: 20px;
}

.emailCdiv {
    margin-bottom: 20px;
}

.messageCdiv {
    width: 73%;
    margin-bottom: 20px;
}

#submit-btn {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#sbmt-btn-div {
    position: relative;
    right: 15px;
}


/* Footer Content */
/* Adjusted HTML to make footer stick to bottom */
html {
    position: relative;
    min-height: 100%;
}

#sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #777777;
    padding: 20px;
    border-top: 5px double #4aaaa5;

}


/* MQ Content */

@media screen and (max-width: 1200px) {
   .messageCdiv {
        width: 88%;
    }
}

@media screen and (max-width: 992px) {
    .messageCdiv {
        width: 100%;
     }

    #me {
       display: none;
    }

    #img2div, #img4div {
        margin-left: 50px;
    }
 }

 @media screen and (max-width: 768px) {
    #me {
        display: none;
    }

    #img2div, #img4div {
        margin-left: 0px;
    }
 }